// COLORS
$primary-color: #d30707;
$secondary-color: #ed7272;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #f3f3e6;

$grey-color: #c7cec7;

$dark-grey: #999e99;

$red-color: #d30707;

$dark-red: #a90e0b;

$pink-color: #f25657;

$black-color: #000000;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
